{% extends './base.html' %}
{% block title %} Gestión de Apuestas {% endblock %}
{% block body %}

<h2>Eventos principales</h2>
<h4>Partidos</h4>
    <div class="table-responsive py-2">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Equipo</th>
                    <th>Equipo</th>
                    <th>Fecha</th>
                    <th>Opcion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Argentina</td>
                    <td>Croacia</td>
                    <td>18/12/2022</td>
                    <td><a class="btn btn-info text-white">Apostar</a></td>
                </tr>
                
            </tbody>
        </table>
    </div> 
</div>        
{% endblock %}
