{% extends './base.html' %}
{% block title %} Gestión de Resultados {% endblock %}
{% block body %}

<div class="row">
    <h2>Resultados</h2>
    <div class="table-responsive py-2">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Partidos Adivinados</th>
                    <th>Nombre</th>
                    <th>Fase Partido</th>
                    <th>Resultado Partido</th>
                    <th>Marcador Apostado</th>
                    <th>Monto Apuesta</th>
                </tr>
            </thead>
            <tbody>
                    {% for r in apuesta %}
                        <tr>
                            <td>{{r.nombre}}</td>
                            <td>{{r.codigo_partido.clasificacion}}</td>
                            <td>{{r.codigo_partido.equipos1}} {{r.codigo_partido.marcador1}} -  {{r.codigo_partido.marcador2}} {{r.codigo_partido.equipos2}}</td>
                            <td>{{r.codigo_partido.equipos1}} {{r.marcador1}} - {{r.marcador2}} {{r.codigo_partido.equipos2}}</td>
                            <td>{{r.monto}}</td>
                            {% if r.codigo_partido.marcador1 == r.marcador1 and r.codigo_partido.marcador2 == r.marcador2 %}
                                <td> Ganaste </td>
                                {% else %}
                                <td> Perdiste </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div> 
</div>

{% endblock %}
